<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main/manager">Main</a>
    <a href="/main/manager/admins">Admins</a>
    <a href="/main/manager/schools">Schools</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h1>School</h1>
        <form method="post" th:action="'/main/manager/schools/'+${school.id}" th:object="${school}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <input id="location" placeholder="Location" required th:field="*{location}" type="text"/>
            <input id="principals" placeholder="Principals" required th:field="*{principals}" type="text"/>
            <input id="activeFlag" type="hidden" th:field="*{active}" value='true'>
            <input type="submit" value="Update"
                   onclick="document.getElementById('activeFlag').value='true'">
            <input type="submit" value="Delete"
                   onclick="document.getElementById('activeFlag').value='false'">
        </form>
    </div>
</div>

</body>
</html>
