<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body scroll="no" style="overflow: hidden">
<div class="sidenav">
    <a href="/main/manager">Main</a>
    <a href="/main/manager/admins">Admins</a>
    <a href="/main/manager/schools">Schools</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="addLater">Under construction</div>
</div>

</body>
</html>
