<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a class="mainPage greenText" href="/main/teacher">Main</a>
    <a class="myClassPage greenText" href="/main/teacher/class">My class</a>
    <a class="gradesPage greenText" href="/main/teacher/grades">Grades</a>
    <a class="tasksPage greenText" href="/main/teacher/tasks">Tasks</a>
    <a class="testsPage greenText" href="/main/teacher/tests">Tests</a>
    <a class="timetablePage greenText" href="/main/teacher/timetable">Timetable</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h1 th:inline="text">
            Question
            [[${question.name}]]
        </h1>
        <form method="post" th:action="'/main/teacher/questions/' + ${question.id} + '/update'" th:object="${question}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
<!--            <input id="date" placeholder="Question Text" required th:field="*{QuestionText}" type="text"/>-->
            <input type="submit" value="Update" th:onclick="'/main/teacher/questions/'+${question.id}+'/update'">
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Questions</th>
            </tr>
            <tr th:if="${#lists.isEmpty(test.questions)}">
                <td colspan="5">No created questions found.</td>
            </tr>
            <tr th:each="question : ${test.questions}">
                <td th:text="${question.name}"></td>
                <td th:text="${question.type}"></td>
                <td th:text="${question.questionText}"></td>
                <td><a th:href="'/main/teacher/question/' + ${question.id}">-O-</a></td>
                <td>
                    <form method="post"
                          th:action="'/main/teacher/question/' + ${test.id} + '/deleteQuestion/' + ${question.id}" th:object="${question}">
                        <input type="submit" value="X">
                    </form>
            </tr>
        </table>
        <form method="post" th:action="'/main/teacher/question/' + ${test.id} + '/addQuestion'" th:object="${question}">
            <input id="questionName" placeholder="Name" required th:field="*{name}" type="text"/>
            <select id="questionType" required th:field="*{type}">
                <option hidden value="">Select a type</option>
                <option value="Options">Options</option>
                <option value="Text">Text</option>
            </select>
            <input id="questionText" placeholder="Text" required th:field="*{questionText}" type="text"/>
            <input type="submit" value="Add Question">
            <input type="reset" value="Reset">
        </form>
    </div>
</div>

</body>
</html>
