<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="footer" th:insert="blocks/header :: header"></div>

<div id="main" class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="content">
        <h3 th:inline="text">
            Test
            [[${test.name}]]
        </h3>
        <form method="post" th:action="'/main/tests/' + ${test.id} + '/update'" th:object="${test}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <input id="date" placeholder="Date" required th:field="*{date}" type="text"/>
            <input id="time" placeholder="Time" required th:field="*{time}" type="text"/>
            <input class="button button5" type="submit" value="Update" th:onclick="'/main/tests/'+${test.id}+'/update'">
        </form>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Questions</th>
            </tr>
            </thead>
            <tr th:if="${#lists.isEmpty(test.questions)}">
                <td colspan="5">No created questions found.</td>
            </tr>
            <tbody>
            <tr th:each="question : ${questions}">
                <td th:text="${question.name}"></td>
                <td th:text="${question.type}"></td>
                <td th:text="${question.questionText}"></td>
                <td><a th:href="'/main/questions/' + ${question.id}">Add answers</a></td>
                <td>
                    <form method="post"
                          th:action="'/main/question/' + ${test.id} + '/deleteQuestion/' + ${question.id}"
                          th:object="${question}">
                        <input type="submit" value="X">
                    </form>
            </tr>
            </tbody>
        </table>
        <form method="post" th:action="'/main/question/' + ${test.id} + '/addQuestion'" th:object="${question}">
            <input id="questionName" placeholder="Name" required th:field="*{name}" type="text"/>
            <select id="questionType" required th:field="*{type}">
                <option hidden value="">Select a type</option>
                <option value="Options">Options</option>
                <option value="Text">Text</option>
            </select>
            <input id="questionText" placeholder="Text" required th:field="*{questionText}" type="text"/>
            <input class="button button5" type="submit" value="Add Question">
            <input class="button button5" type="reset" value="Reset">
        </form>
    </div>
</div>
<script src="/js/menu.js"></script>

</body>
</html>
