<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="footer" th:insert="blocks/header :: header"></div>

<div id="main" class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="content">
        <h3>Tests</h3>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Test name</th>
                <th>Grade</th>
                <th>Deadline</th>
            </thead>
            <tr th:if="${#lists.isEmpty(tests)}">
                <td colspan="5">No created tests found.</td>
            </tr>
            <tbody>
            <tr th:each="test : ${tests}">
                <td><a th:href="'/main/tasks/' + ${test.id}">[[${test.name}]]</a></td>
                <td>TODO</td>
                <td th:text="${test.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/menu.js"></script>

</body>
</html>