<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="sidenav">
    <a href="/main">Main</a>
    <a href="/main/admins">Admins</a>
    <a href="/main/classes">Classes</a>
    <a href="/main/students">Students</a>
    <a href="/main/teachers">Teachers</a>
    <a href="/main/timetables">Timetables</a>
    <a href="/main/tests">All Tests</a>
    <a href="/main/tasks">My Tasks</a>
    <form class="form-signin" method="get" action="/logout">
        Logged in as
        <br/>
        <span th:inline="text">
            [[${username}]]
        </span>
        <br/>
        <span th:inline="text">
            (role [[${role.name}]])
        </span>
        <br/>
        <input class="btn" type="submit" name="" value="Log out">
    </form>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h3>Tests</h3>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Test name</th>
                <th>Grade</th>
                <th>Deadline</th>
            </thead>
            <tr th:if="${#lists.isEmpty(tests)}">
                <td colspan="5">No created tests found.</td>
            </tr>
            <tbody>
            <tr th:each="test : ${tests}">
                <td><a th:href="'/main/tasks/' + ${test.id}">[[${test.name}]]</a></td>
                <td>TODO</td>
                <td th:text="${test.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>