<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main">Main</a>
    <a href="/main/admins">Admins</a>
    <a href="/main/classes">Classes</a>
    <a href="/main/students">Students</a>
    <a href="/main/teachers">Teachers</a>
    <a href="/main/timetables">Timetables</a>
    <a href="/main/tests">All Tests</a>
    <a href="/main/tasks">My Tasks</a>
    <form class="form-signin" method="get" action="/logout">
        Logged in as
        <br/>
        <span th:inline="text">
            [[${username}]]
        </span>
        <br/>
        <span th:inline="text">
            (role [[${role.name}]])
        </span>
        <br/>
        <input class="btn" type="submit" name="" value="Log out">
    </form>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h3 th:inline="text">Task [[${test.name}]]</h3>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Text</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr th:if="${#lists.isEmpty(test.questions)}">
                <td colspan="5">No questions found.</td>
            </tr>
            <tbody>
            <tr th:each="question : ${test.questions}">
                <td th:text="${question.name}"></td>
                <td th:text="${question.questionText}"></td>
                <td>
                    <form method="post"
                          th:action="'/main/task/' + ${question.id} + '/check'"
                          th:object="${question}">
                        <select id="questionAnswer" required th:field="*{answer}">
                            <option hidden value="">Select an answer</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                        <input class="button button5" type="submit" value="Add Answer">
                        <input class="button button5" type="reset" value="Reset">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
