<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="footer" th:insert="blocks/header :: header"></div>

<div id="main" class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="content">
        <h3 th:inline="text">Task [[${test.name}]]</h3>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Text</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr th:if="${#lists.isEmpty(test.questions)}">
                <td colspan="5">No questions found.</td>
            </tr>
            <tbody>
            <tr th:each="question : ${test.questions}">
                <td th:text="${question.name}"></td>
                <td th:text="${question.questionText}"></td>
                <td>
                    <form method="post"
                          th:action="'/main/task/' + ${question.id} + '/check'"
                          th:object="${question}">
                        <select id="questionAnswer" required th:field="*{answer}">
                            <option hidden value="">Select an answer</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                        <input class="button button5" type="submit" value="Add Answer">
                        <input class="button button5" type="reset" value="Reset">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/menu.js"></script>

</body>
</html>
