<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:insert="blocks/menu :: menu"></div>

<div id="main" class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="content">
        <h3>Tests</h3>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Test name</th>
                <th>Add questions</th>
                <th>Delete</th>
            </thead>
            <tr th:if="${#lists.isEmpty(tests)}">
                <td colspan="5">No created tests found.</td>
            </tr>
            <tbody>
            <tr th:each="test : ${tests}">
                <td th:text="${test.name}"></td>
                <td><a th:href="'/main/tests/' + ${test.id}">Add questions</a></td>
                <td>
                    <form method="post" th:action="'/main/test/' + ${test.id} + '/delete'" th:object="${test}">
                        <input type="submit" value="X">
                    </form>
            </tr>
            </tbody>
        </table>
        <form method="post" th:action="@{/main/addTest}" th:object="${test}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <input id="clazz" placeholder="Class" th:field="*{clazz}"
                   type="text"/>
            <button class="button button5" type="submit">Create Test</button>
            <input class="button button5" type="reset" value="Reset">
        </form>
    </div>
</div>
<script src="/js/menu.js"></script>

</body>
</html>