<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>WOPFE</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/principal_menu2.css}">-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="sidenav">-->
<!--    <a href="/main/principal">Main</a>-->
<!--    <a href="/main/principal/addSubject">Subjects</a>-->
<!--    <a href="/main/principal/addClasses">Classes</a>-->
<!--    <a href="#contact">Search</a>-->
<!--</div>-->


<!--<div class="main">-->
<!--    <h1 class="moreGreenText appName">WOPFE</h1>-->
<!--    <hr class="line">-->
<!--    <div class="content">-->
<!--        <h3>Delete or edit subject</h3>-->
<!--        <table class="greyGridTable">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Name</th>-->
<!--                <th>Speciality</th>-->
<!--                <th>Classes</th>-->
<!--                <th>School</th>-->
<!--                <th>Teacher</th>-->
<!--                <th>Period</th>-->
<!--                <th>Edit</th>-->
<!--                <th>Delete</th>-->
<!--            </tr>-->
<!--            <tr th:if="${#lists.isEmpty(subjects)}">-->
<!--                <td colspan="7">No Records found. Add some...!</td>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="subject : ${subjects}">-->
<!--                <td th:text="${subject.id}"></td>-->
<!--                <td th:text="${subject.name}"></td>-->
<!--                <td th:text="${subject.specialty}"></td>-->
<!--                <td th:text="${subject.classes}"></td>-->
<!--                <td th:text="${subject.school}"></td>-->
<!--                <td th:text="${subject.teacher}"></td>-->
<!--                <td th:text="${subject.period}"></td>-->
<!--                <td><a th:href="'/main/principal/subject/' + ${subject.id}">✎</a></td>-->
<!--                <td>-->
<!--                    <form method="get" th:action="'/main/principal/subject/'+${subject.id} + '/delete'"-->
<!--                          th:object="${subject}">-->
<!--                        <input type="submit" value="✕">-->
<!--                    </form>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->