<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/principal_menu2.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="sidenav">
    <a href="/main/principal">Main</a>
    <a href="/main/principal/addSubject">Subjects</a>
    <a href="/main/principal/addClasses">Classes</a>
    <a href="#contact">Search</a>
</div>


<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h3>Edit or delete class</h3>
        <form method="post" th:action="'/main/principal/class/' + ${class.id} + '/update'" th:object="${class}">
            <input name="name" placeholder="Class Name" required th:field="*{name}" type="text"/>
            <input name="students" placeholder="Students" required th:field="*{students}" type="text"/>
            <input name="timetable" placeholder="Timetable" required th:field="*{timetable}" type="text"/>
            <select name="school" required th:field="*{school}">
                <option hidden value="">Select a school</option>
                <option value="all">all</option>
                <option value="TMRG">TMRG</option>
                <option value="TVL">TVL</option>
            </select>
            <button class="button button5" type="submit">Edit</button>
            <a th:href="'/main/principal/class/' +${id} + '/delete'"
               class="button button5">Delete</a>
            <div th:if="${classMessage}" th:utext="${classMessage}"></div>
        </form>
    </div>
</div>


</body>
</html>