<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>WOPFE</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/principal_menu2.css}">-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="sidenav">-->
<!--    <a href="/main/principal">Main</a>-->
<!--    <a href="/main/principal/addSubject">Subjects</a>-->
<!--    <a href="/main/principal/addClasses">Classes</a>-->
<!--    <a href="#contact">Search</a>-->
<!--</div>-->


<!--<div class="main">-->
<!--    <h1 class="moreGreenText appName">WOPFE</h1>-->
<!--    <hr class="line">-->
<!--    <div class="content">-->
<!--        <h3>Delete or edit class</h3>-->
<!--        <table class="greyGridTable">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Class name</th>-->
<!--                <th>School</th>-->
<!--                <th>Students</th>-->
<!--                <th>Timetable</th>-->
<!--                <th>Edit</th>-->
<!--                <th>Delete</th>-->
<!--            </tr>-->
<!--            <tr th:if="${#lists.isEmpty(classes)}">-->
<!--                <td colspan="7">No Records found. Add some...!</td>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="class : ${classes}">-->
<!--                <td th:text="${class.id}"></td>-->
<!--                <td th:text="${class.name}"></td>-->
<!--                <td th:text="${class.school}"></td>-->
<!--                <td th:text="${class.students}"></td>-->
<!--                <td th:text="${class.timetable}"></td>-->
<!--                <td><a th:href="'/main/principal/class/'+ ${class.id}">✎</a></td>-->
<!--                <td>-->
<!--                    <form method="get" th:action="'/main/principal/class/'+${class.id} + '/delete'"-->
<!--                          th:object="${class}">-->
<!--                        <input type="submit" value="✕">-->
<!--                        &lt;!&ndash;                        <button class="button button5" type="submit">✕</button>&ndash;&gt;-->
<!--                    </form>-->
<!--                </td>-->

<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->
