
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("plant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: auto;
    width: auto;
    border: none;

}

.login-box p {
    color: grey;
    font-size: 30px;
    left: 50%;
    height: auto;
}

.login-box {
    width: 280px;
    position: absolute;
    border-left-color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    height: auto;
}

.login-box h1 {
    float: inside;
    font-size: 20px;
    border-bottom: 4px solid #4caf50;
    margin-bottom: 10px;
    padding: 5px 0;
    height: auto;
    margin-left: 5em;
    margin-right: 6em;
}

.h2 {
    top: 50%;
    left: 50%;
    height: auto;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid #4caf50;
    height: auto;
}

.textbox input {
    border: none;
    outline: #4caf50;
    background: none;
    font-size: 12px;
    color: white;
    width: 80px;
    float: left;
    margin: 10px;
    height: auto;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid green;
    color: grey;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px 0;
    height: auto;
}

.btnNoAccount {
    width: 30%;
    border: none;
    color: grey;
    background: none;
    cursor: pointer;
    float: right;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    left: 42%;
    color: grey;
    margin: auto;
    word-spacing: 10px;
}

p.rememberMe {
    font-size: small;
    position: relative;
    color: grey;
    margin-left: 2em;
}

.wopfe {
    color: grey;
    right: auto;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
    font-size: 35px;
}

.footer {
    font-size: 10px;
    margin-left: 4em;
}
