/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a9471;
    overflow-x: hidden;
    padding-top: 200px;
}

.sidenav a {
    border-left: 3px solid transparent;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    display: block;
    border: none;
    border-left: white;
    background: none;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    line-height: 65px;
    text-align: left;
    letter-spacing: 1px;
    outline: none;

}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: black;
    background-color: #215A48;
}


/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #215A48;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #18453b;
    padding-left: 16px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 10px 10px;
}

.greenText {
    color: #0a9471;
}

.moreGreenText {
    color: #08775b;
}


.line {
    border-top: 1px solid #0a9471;
    position: relative;
    top: 60px;
}

.appName {
    margin-bottom: -60px;
    padding-left: 75px;
}

/*.menuTop {*/
/*    padding-left: 1260px;*/
/*    padding-top: 20px;*/
/*    position: relative;*/
/*    top: 30px;*/
/*}*/

.addLater {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 50px;
}

.content {
    left: 220px;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
}

table.greyGridTable {
    font-family: Tahoma, Geneva, sans-serif;
    border: 2px solid #FFFFFF;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
    border: 2px solid #FFFFFF;
    padding: 5px 6px;
}

table.greyGridTable tbody td {
    font-size: 14px;
}

table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}

table.greyGridTable thead {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-bottom: 4px solid #333333;
}

table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot td {
    font-size: 14px;
}

input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


input[type=text]:focus {
    border: 3px solid #555;
}

select {
    width: 12%;
    padding: 16px 25px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.button {
    background-color: black;
    width: 10%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 25px;
}