@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /*стиль текста. выглядит лучше*/
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a9471;
    overflow-x: hidden;
    padding-top: 80px; /*чтобы кнопки в меню были на определенном уровне*/
    transition: 0.5s;
}

.form-signin {
    margin-left: 20px;
    margin-top: 150px;
}

#closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #215A48;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.sidenav a {
    border-left: 3px solid transparent;
    transition: 0.3s;
}

.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 200;
    line-height: 65px;
    text-align: left;
    letter-spacing: 1px;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: black;
    background-color: #215A48;
}

.main {
    margin-left: 250px; /*!* Same as the width of the sidebar *!*/
    transition: margin-left .5s;
    padding: 16px;
}

.greenText {
    color: #0a9471;
}

.moreGreenText {
    color: #08775b;
}

.addLater {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 50px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    text-align: center;
    top: 100px;
    width: 100%;
}

table.greyGridTable {
    font-family: Tahoma, Geneva, sans-serif;
    border: 2px solid #FFFFFF;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
    border: 2px solid #FFFFFF;
    padding: 5px 6px;
}

table.greyGridTable tbody td {
    font-size: 14px;
}

table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}

table.greyGridTable thead {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-bottom: 4px solid #333333;
}

table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot td {
    font-size: 14px;
}

/*ЛОМАЕТ ЧАТ!!!*/
input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*ЛОМАЕТ ЧАТ!!!*/
input[type=text]:focus {
    border: 3px solid #555;
}

select {
    width: 12%;
    padding: 16px 25px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*ЛОМАЕТ ЧАТ!!!*/
.button {
    background-color: black;
    width: 10%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#closebtn:hover {
    background-color: #0a9471;
    color: white;
}

/* css для header-а*/
.header {
    overflow: hidden;
    padding: 10px 10px;
}

.header form {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header span.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

.buttonHeader {
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
}

.buttonHeader2 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.buttonHeader2:hover {
    background-color: black;
    color: white;
}

#open_menu_button {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    .header form {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    #open_menu_button {
        opacity: 1;
    }
}

@media (max-width: 1024px) {

    input[type=text] {
        width: 20%;
    }

    .button {
        width: 20%;
    }

    select {
        width: 20%;
    }

    #open_menu_button {
        opacity: 1;
    }

    @media (max-width: 414px) {
        .sidenav {
            width: 0;
        }

        .main {
            margin-left: 0;
        }

        #open_menu_button {
            opacity: 1;
        }
    }

    @media (max-width: 320px) {
        .sidenav {
            width: 0;
        }

        .main {
            margin-left: 0;
        }

        #open_menu_button {
            opacity: 1;
        }
    }
}
