<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> WOPFE </title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
<body>
<div class="login-box">
    <p>WOPFE</p>
    <h1>Log In</h1>
    <div class="textbox">
        <input type="text" placeholder="Username" name="" value="">
    </div>
    <div class="textbox">

        <input type="password" placeholder="Password" name="" value="">
    </div>
    <input class="btn" type="button" name="" value="Sign in">
    <input class="btnNoAccount" type="button" name="" value="No account?">

</div>
<div class="footer" th:insert="blocks/footer :: footer"></div>
</body>

</html>
