<!DOCTYPE html>
<html>
<head>
    <title>WOPFE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<div class="homepage_banner">
    <div class="homepage_navbar">
        <img th:src="@{/css/logo.png}" class="logo">
        <ul>
            <li><a href="#"> About</a></li>
            <li><a href="#"> Info</a></li>
        </ul>
    </div>
    <div>
        <div class="homepage_content">
            <h1>A better learning future starts here.</h1>
            <p>– WOPFE.<br></p>
            <div>
                <button type="button" class="homepage_button" onclick="window.location.href='/login.html';"><span class="homepage_span"></span>Log In</button>
<!--                <button type="button" class="homepage_button" onclick="window.location.href='/login.html';"><span class="homepage_span"></span>Sing Up</button>-->

            </div>
        </div>
    </div>
</div>

</body>
</html>