<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title> WOPFE </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
<p class="wopfe">WOPFE</p>
<div class="login-box">
    <h1 class="login">Log In</h1>
    <form class="form-signin" method="post" action="/login">
        <div class="textbox">
            <p>
                <input type="text" id="username" name="username"
                       class="form-control" placeholder="Username" required=""
                       autofocus="">
            </p>
        </div>
        <div class="textbox">
            <p>
                <input type="password" id="password" name="password"
                       class="form-control" placeholder="Password" required="">
            </p>
        </div>
        <p class="rememberMe">
            Remember me
            <input type="checkbox" id="remember-me" name="remember-me"
                   class="form-control">
        </p>
        <input class="btn" type="submit" name="" value="Sign in">
    </form>
    <div id="error" th:if="${errorMessage}" th:utext="${errorMessage}"></div>
</div>
<div class="footer" th:insert="blocks/footer :: footer"></div>
</body>
</html>