<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> WOPFE </title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="login-box">
    <p>WOPFE</p>
    <h1>Log In</h1>
    <form class="form-signin" method="post" action="/login">
        <div class="textbox">
        <p>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        </div>
        <div class="textbox">
        <p>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        </div>
        <p>
            Remember me?
            <input type="checkbox" id="remember-me" name="remember-me" class="form-control">
        </p>
        <input class="btn" type="submit" name="" value="Sign in">
    </form>
    <input class="btnNoAccount" type="button" name="" value="No account?">
    <div id="error" th:if="${errorMessage}" th:utext="${errorMessage}"></div>
</div>
<div class="footer" th:insert="blocks/footer :: footer"></div>
</body>
</html>