<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" href="css\main.css" type="text/css">
</head>
<body>
<!-- Side navigation -->
<div class="sidenav">
    <a href="#">some text</a>
    <a href="#">some text</a>
    <a href="#">some text</a>
    <a href="#">some text</a>
</div>

<div class="main">
    <h1 class="moregreenertext app_name">WOPFE</h1>
    <div class="menue_top">
        <nav>
            <a class="main_page greentext" class href="/">Main</a>
            <a class="my_class_page greentext" href="/class">My class</a>
            <a class="grades_page greentext" href="/grades">Grades</a>
            <a class="tasks_page greentext" href="/tasks">Tasks</a>
            <a class="tests_page greentext" href="/tests">Tests</a>
            <a class="timetable_page greentext" href="/timetable">Timetable</a>
        </nav>
    </div>
    <hr class="line" size="1" width="90%" color=#08775b>
    <div class="addlater"><center>Under construction</center></div>
</div>


</body>
</html>