<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/student_main.css}">
</head>
<body>
<!-- Side navigation -->
<div class="sidenav">
    <a href="#">Main</a>
    <a href="#">My class</a>
    <a href="#">Grades</a>
    <a href="#">Tasks</a>
    <a href="#">Timetable</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="addLater">Under construction</div>
</div>


</body>
</html>