<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main/teacher">Main</a>
    <a href="/main/teacher/timetables">Timetable</a>
    <a href="/main/teacher/classes">Classes</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h1>Timetables</h1>
        <table>
            <!--            <tr>-->
            <!--                <th>Monday</th>-->
            <!--                <th>Tuesday</th>-->
            <!--                <th>Wednesday</th>-->
            <!--                <th>Thursday</th>-->
            <!--                <th>Friday</th>-->
            <!--            </tr>-->
            <tr th:if="${#lists.isEmpty(timetables)}">
                <td colspan="5">No timetable available yet.</td>
            </tr>
            <tr th:each="timetable : ${timetables}">
                <td th:text="${timetable.name}">
                <tr th:if="${#lists.isEmpty(timetable.events)}">
                    <td colspan="5">No events available yet.</td>
                </tr>
                <tr th:each="event : ${timetable.events}">
                    <td th:text="${event.name}">
                        <!--            <tr th:each="event : ${day.events}">-->
                        <!--                <td th:text="${event.startTime} - ${event.endTime}">-->
                        <!--                <td th:text="${event.name}">-->
                        <!--                <td th:text="${event.place}">-->
                        <!--                <td><a th:href="'/main/manager/admins/' + ${admin.id}">✏</a></td>-->
                </tr>
            </tr>
        </table>
        <form method="post" th:action="@{/main/teacher/addTimetable}" th:object="${timetable}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <input type="submit" value="Create Timetable">
            <input type="reset" value="Reset">
        </form>
        <form method="post" th:action="@{/main/teacher/addEvent}" th:object="${event}">
            <input id="eventName" placeholder="Name" required th:field="*{name}" type="text"/>
            <input id="eventPlace" placeholder="Place" required th:field="*{place}" type="text"/>
            <input id="eventTeacher" placeholder="Teacher" required th:field="*{teacher}" type="text"/>
            <select id="tts" required th:name="ttName">
                <option th:each="timetable : ${timetables}" th:value="${timetable.name}" th:text="${timetable.name}"></option>
            </select>
            <input type="submit" value="Create Event">
            <input type="reset" value="Reset">
        </form>
    </div>
</div>


</body>
</html>
