<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main/timetables">Timetables</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h3 th:inline="text">
            Timetable
            [[${timetable.name}]]
        </h3>
        <form method="post" th:action="'/main/timetables/' + ${timetable.id} + '/update'" th:object="${timetable}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <button class="button button5" th:onclick="'/main/timetables/'+${timetable.id}+'/update'" type="submit">
                Update
            </button>
        </form>
        <form method="post" th:action="'/main/timetables/' + ${timetable.id} + '/addEvent'" th:object="${event}">
            <input id="eventName" placeholder="Name" required th:field="*{name}" type="text"/>
            <input id="eventPlace" placeholder="Place" required th:field="*{place}" type="text"/>
            <input id="eventTeacher" placeholder="Teacher" required th:field="*{teacher}" type="text"/>
            <select id="eventDay" required th:field="*{day}">
                <option hidden value="">Select a day</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select>
            <select id="eventTime" required th:field="*{time}">
                <option hidden value="">Select time</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
            </select>
            <button class="button button5" type="submit">Add Event</button>
            <button class="button button5" type="reset">Reset</button>
        </form>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Place</th>
                <th>Teacher</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(timetable.events)}">
                <td colspan="5">No events available yet.</td>
            </tr>
            <tr th:each="event : ${timetable.events}">
                <td th:text="${event.day} + ': ' + ${event.time}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.place}"></td>
                <td th:text="${event.teacher}"></td>
                <td><a th:href="'/main/events/' + ${event.id}">-O-</a></td>
                <td>
                    <form method="post"
                          th:action="'/main/timetables/' + ${timetable.id} + '/deleteEvent/' + ${event.id}"
                          th:object="${event}">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
