<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main/timetables">Timetables</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h1 th:inline="text">
            Timetable
            [[${timetable.name}]]
        </h1>
        <form method="post" th:action="'/main/timetables/' + ${timetable.id} + '/update'" th:object="${timetable}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <input type="submit" value="Update" th:onclick="'/main/timetables/'+${timetable.id}+'/update'">
        </form>
        <table>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Teacher</th>
        </tr>
        <tr th:if="${#lists.isEmpty(timetable.events)}">
            <td colspan="5">No events available yet.</td>
        </tr>
        <tr th:each="event : ${timetable.events}">
            <td th:text="${event.name}"></td>
            <td th:text="${event.place}"></td>
            <td th:text="${event.teacher}"></td>
            <td><a th:href="'/main/events/' + ${event.id}">-O-</a></td>
            <td>
                <form method="post" th:action="'/main/timetables/' + ${timetable.id} + '/deleteEvent/' + ${event.id}" th:object="${event}">
                    <input type="submit" value="X">
                </form>
        </tr>
        </table>
        <form method="post" th:action="'/main/timetables/' + ${timetable.id} + '/addEvent'" th:object="${event}">
            <input id="eventName" placeholder="Name" required th:field="*{name}" type="text"/>
            <input id="eventPlace" placeholder="Place" required th:field="*{place}" type="text"/>
            <input id="eventTeacher" placeholder="Teacher" required th:field="*{teacher}" type="text"/>
            <input type="submit" value="Add Event">
            <input type="reset" value="Reset">
        </form>
    </div>
</div>

</body>
</html>
