<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:insert="blocks/menu :: menu"></div>

<div id="main" class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div th:insert="blocks/header :: header"></div>
    <div class="content">

        <h3>Timetables</h3>
        <form method="post" th:action="@{/main/timetables/addTimetable}" th:object="${timetable}">
            <input id="name" placeholder="Name" required th:field="*{name}" type="text"/>
            <button class="button button5" type="submit">Create Timetable</button>
            <button class="button button5" type="reset">Reset</button>
        </form>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>Class</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(timetables)}">
                <td colspan="5">No timetable available yet.</td>
            </tr>
            <tr th:each="timetable : ${timetables}">
                <td th:text="${timetable.name}"></td>
                <td><a th:href="'/main/timetables/' + ${timetable.id}">-O-</a></td>
                <td>
                    <form method="post" th:action="'/main/timetables/' + ${timetable.id} + '/delete'"
                          th:object="${timetable}">
                        <input type="submit" value="X">
                    </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/menu.js"></script>

</body>
</html>
