<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:insert="blocks/menu :: menu"></div>

<div id="main" class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="content">
        <h3>Teachers</h3>
        <form method="post" th:action="@{/main/teachers}"
              th:object="${teacher}">
            <input id="firstName" placeholder="firstName" required
                   th:field="*{firstName}" type="text"/>
            <input id="lastName" placeholder="lastName" required
                   th:field="*{lastName}" type="text"/>
            <input id="class" placeholder="Class" required th:field="*{clazz}"
                   type="text"/>
            <button class="button button5" type="submit">Add Teacher</button>
            <button class="button button5" type="reset">Reset</button>
        </form>
        <table class="greyGridTable">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Class</th>
                <th>Username</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(teachers)}">
                <td colspan="5">No teachers available yet.</td>
            </tr>
            <tr th:each="teacher : ${teachers}">
                <td th:text="${teacher.id}"></td>
                <td th:text="${teacher.fullName}"></td>
                <td th:text="${teacher.clazz}"></td>
                <td th:text="${teacher.username}"></td>
                <td><a th:href="'/main/teachers/' + ${teacher.id}">-O-</a></td>
                <td>
                    <form method="post"
                          th:action="'/main/teachers/' + ${teacher.id} + '/delete'" th:object="${teacher}">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/menu.js"></script>

</body>
</html>
