<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main/principal">Main</a>
    <a href="/main/principal/addSubject">Subjects</a>
    <a href="/main/principal/addClasses">Classes</a>
    <a href="#contact">Search</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="addLater">Under construction</div>
</div>

</body>
</html>
