<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!-- Side navigation -->
<div class="sidenav">
    <a href="#">some text</a>
    <a href="#">some text</a>
    <a href="#">some text</a>
    <a href="#">some text</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <div class="menuTop">
        <nav>
            <a class="mainPage greenText" href="/">Main</a>
            <a class="myClassPage greenText" href="/class">My class</a>
            <a class="gradesPage greenText" href="/grades">Grades</a>
            <a class="tasksPage greenText" href="/tasks">Tasks</a>
            <a class="testsPage greenText" href="/tests">Tests</a>
            <a class="timetablePage greenText" href="/timetable">Timetable</a>
        </nav>
    </div>
    <hr class="line">
    <div class="addLater">Under construction</div>
</div>


</body>
</html>