<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a class="mainPage greenText" href="/main/teacher">Main</a>
    <a class="myClassPage greenText" href="/main/teacher/class">My class</a>
    <a class="gradesPage greenText" href="/main/teacher/grades">Grades</a>
    <a class="tasksPage greenText" href="/main/teacher/tasks">Tasks</a>
    <a class="testsPage greenText" href="/main/teacher/tests">Tests</a>
    <a class="timetablePage greenText" href="/main/teacher/timetable">Timetable</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="addLater">Under construction</div>
</div>


</body>
</html>